@keyframes you-spin-me-round {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
@media (max-width: 700px) {
  p {
    line-height: 1.6;
    font-size: 1.5rem;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .container {
    width: 100%;
    padding: 0 25px;
  }
}
@media (max-width: 700px) {
  body {
    overflow: overlay;
  }
}
img:hover {
  -webkit-animation-name: you-spin-me-round;
  -webkit-animation-duration: 1s;
  animation-name: you-spin-me-round;
  animation-duration: 1s;
}
section.navigation {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
section.navigation nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
}
section.navigation nav a {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}
section.navigation nav a:hover {
  color: red;
}
@media (max-width: 700px) {
  section.navigation {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
  }
  section.navigation > *,
  section.navigation > nav {
    width: 100%;
  }
  section.navigation h1 {
    font-size: 3rem;
    margin: 20px 0;
    margin-bottom: 5px;
  }
  section.navigation a {
    padding: 10px;
  }
}
.borderb {
  border-bottom: 2px dashed grey;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .home .content-section {
    flex-direction: row;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 700px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 700px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 700px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 700px) {
  .home .inverse-content .text-content {
    order: -1;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 700px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .home .content-pick {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 40px;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  width: 83%;
  padding: 14px;
  color: white;
  border-radius: 20px;
  background: #17A2B8;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 700px) {
  .home .content-pick .destination .btn {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .home .content-pick .destination {
    width: 100%;
  }
}
.home section.main-header {
  padding-bottom: 7px;
  border-bottom: 2px dashed grey;
}
.home section.main-header img {
  margin-bottom: 20px;
}
.form-destination {
  margin: 50px 0;
}
.form-destination input,
.form-destination textarea,
.form-destination select {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  font-size: 2rem;
}
.form-destination input[type="reset"],
.form-destination textarea[type="reset"],
.form-destination select[type="reset"],
.form-destination input[type="submit"],
.form-destination textarea[type="submit"],
.form-destination select[type="submit"] {
  width: 150px;
  margin-right: 20px;
}
.form-destination label {
  font-size: 2rem;
  margin: 10px 0;
  display: block;
}
.form-destination textarea {
  height: 100px;
  margin-bottom: 20px;
}
