// Mixins in here

.buttonsStyle(@color: red) {
    width: 83%;
    padding: 14px;
    color: white;
    border-radius: 20px;
    background: @color;
    font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
}